<%= form_for [@group, @team], method: :put, :html => {:class => 'form-horizontal'} do |f| %>
<div class="form-group">
  <%= label_tag 'name', "Name", class: 'col-sm-4 col-md-4 control-label' %>
  <div class="col-sm-8 col-md-8">
    <%= f.text_field :name, class: 'form-control'%>
  </div>
</div>
<div class="form-group">
  <%= label_tag 'tag', "Tag", class: 'col-sm-4 col-md-4 control-label'  %>
  <div class="col-sm-8 col-md-8">
    <%= f.text_field :tag, class: 'form-control'%>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <button type="submit" class="btn btn-primary btn-lg">Update</button>
  </div>
</div>
<% end %>
<div class="col-sm-12">
  <%= link_to "Delete this team", users_group_team_ask_to_destroy_path(@group, @team), class: "btn btn-danger btn-lg" %>
</div>
