<% flash.each do |key, value| %>
<div id="error_explanation" class="alert alert-<%=key%>" role="alert">
  <p>
    <%= value %>
  </p>
</div>
<% end %>
<% if @team.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <h5><%= pluralize(@team.errors.count, "error") %> canceled your suppression:</h5>
  <ul>
    <% @team.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card-pf card-pf-accented card-pf-aggregate-status">
      <div class="card-pf-title">
        <h1>Delete <%= @team.users_group.name %> <%= @team.name %></h1>
      </div>
      <div class="card-pf-body">
        <p>
          Do you really want to delete <%= @team.users_group.name %> <%= @team.name %> ??
        </p>
        <p>
          This action will delete the team definitively.
        </p>
        <%= render 'form_destroy' %>
      </div>
    </div>
  </div>
</div>
