<div class="row">
  <% if @groups.count > 0 %>
  <% @groups.each do |group| %>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= link_to user_users_group_path(group.get_proprietary, group) do %>
          <%= group.name.capitalize %> [<%= group.tag.upcase %>]
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row" style="margin-bottom:1em;">
          <div class="col-md-12">
            <% if is_logged_in %>
            <%= link_to "Show details", user_users_group_path(group.get_proprietary, group), class:"btn btn-primary btn-xs" %>
            <% end %>
          </div>
        </div>
        <ul class="list-group">
          <% group.group_members.each do |group_member| %>
          <% user = group_member.user %>
          <li class="list-group-item">
            <%= user.name.capitalize %> <%= user.lastname.capitalize %>
            <% if group_member.is_creator %>
            <span class="glyphicon pficon-help" aria-hidden="true"></span>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <% else %>
  <%= render 'application/empty_state', title: "Friend's groups", info: "Create or join a friend group, check above ⬆️..." %>
  <% end %>
</div>
