<% @event_resources.each do |resource| %>
<% game = resource.game %>
<% event = resource.event %>
<div class="col-md-4">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h2 class="card-pf-title">
      <% if game %>
      <a href="<%= event_event_resource_path(event.id, resource.id)%>"><%= game.name %></a>
      <% else %>
      <a href="<%= event_event_resource_path(event.id, resource.id)%>">
        <%= resource.title %>
      </a>
      <% end %>
    </h2>
    <div class="card-pf-body">
      <a href="<%= event_event_resource_path(event.id, resource.id)%>">
        <%= image_tag resource.banner, size: "64x64", :class => "img-circle" %>
      </a>
      <p class="card-pf-aggregate-status-notifications">
        <% if resource.game && resource.game.teambased %>
        <span class="pficon pficon-users"></span>
        <% else %>
        <span class="pficon pficon-user"></span>
        <% end %>
        <span class="card-pf-aggregate-status-notification">
          <div class="row text-center" style="font-size:20px;">
            <div class="col-md-4">
              <span class="pficon-ok" aria-hidden="true"
              data-toggle="tooltip" data-placement="top" title="Validated locked registrations"></span>
            </div>
            <div class="col-md-4">
              <span class="pficon-warning-triangle-o" aria-hidden="true"
              data-toggle="tooltip" data-placement="top" title="waiting for full payement"></span>
            </div>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-star" aria-hidden="true"
              data-toggle="tooltip" data-placement="top" title="Reserved slots for invitations"></span>
            </div>
          </div>
          <div class="row text-center" style="font-size:20px;">
            <div class="col-md-4">
              <%= resource.get_validated_slots.count %>
            </div>
            <div class="col-md-4">
              <% if resource.game && resource.game.teambased %>
              <%= resource.get_teams.count - resource.get_validated_slots.count %>
              <% else %>
              <%= resource.get_players.count - resource.get_validated_slots.count %>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= resource.locked_quota %>
            </div>
          </div>
        </span>
      </p>
      <% if !resource.game %>
      <p>
        <%= resource.description %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
