<% @event_resources.each do |resource| %>
<% game = resource.game %>
<% event = resource.event %>
<div class="col-md-4">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h2 class="card-pf-title">
      <% if game %>
      <a href="<%= event_event_resource_path(event.id, resource.id)%>"><%= game.name %></a>
      <% else %>
      <a href="<%= event_event_resource_path(event.id, resource.id)%>">
        <%= resource.title %>
      </a>
      <% end %>
    </h2>
    <div class="card-pf-body">
      <%= image_tag resource.banner, size: "64x64", :class => "img-circle" %>
      <p class="card-pf-aggregate-status-notifications">
        <% if resource.game && resource.game.teambased %>
        <span class="pficon pficon-users"></span>
        <% else %>
        <span class="pficon pficon-user"></span>
        <% end %></br>
        <span class="card-pf-aggregate-status-notification">
          <a href="<%= event_event_resource_path(event.id, resource.id)%>">
            <span class="pficon-ok" aria-hidden="true"
            data-toggle="tooltip" data-placement="top" title="Validated registrations"></span>
            <%= resource.get_validated_slots.count %>
            (
            <% if resource.game && resource.game.teambased %>
            <%= resource.get_teams.count %>
            <% else %>
            <%= resource.get_players.count %>
            <% end %>
            <span class="pficon-warning-triangle-o" aria-hidden="true"
            data-toggle="tooltip" data-placement="top" title="waiting for full payement"></span>
            )
            /
            <%= resource.get_size %>
            <% if resource.locked_quota != 0 %>
            + <span class="glyphicon glyphicon-star" aria-hidden="true"
            data-toggle="tooltip" data-placement="top" title="Reserved slots for invitations"></span>
            <%= resource.locked_quota %>
            <% end %>
          </a>
        </span>
      </p>
      <% if !resource.game %>
      <p>
        <%= resource.description %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
