<table data-module="module-2" cellpadding="0" cellspacing="0" style="max-width:800px; margin-top:1em;">
  <tr>
    <td data-bgcolor="bg-module">
      <table class="flexible" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
        <tr>
          <td class="img-flex">
            <img src="https://lh3.googleusercontent.com/QjkX9z3oi_xfBnrrndiqY7VpSDhH01xaGe3waZzSK87V_NKDfifPzU1PCnDbHa5kvnT9iZ-K96Dd_yqDgru6Y0t2KrOlo4fh_BLZmKYpDHWk9jOKDerSWRi52ZiP6s0ZfZI5YtwESFlljPPPaqH10pEw940SAm0IoN_zqH8mqSN4vl1BNamQp9hHOpdm3FUHrVn88W_MUOl-MgoOgs-3iubK0lmNyDtg9mp0Ayv87CAtPoMhNelrO0i5CtD6mKo8pEgzAMT9ARG3coYKtDWQLW-FUhqQePlS5aKA7Yx5KepAayYDa6G_eevSDq57LvfZhSJWb7XhOxLvSdZESTcf5tT-nAPX9cveDt1ry5L7caPIZCkTikI1CRj0e3ltIPS78pEGhw7PO-MEXoEeIxQuHwkqj8pvbR2RhPBnGXlediQj2-63xUf1L7RBcCB2ZOYDjn5ZytcMIq0-sQ6fwRXF_6UtR3wpYqg-2gBP0Bfk0DdzuNjrp-PBvU6eKBOrOC2KZkBVyQIG76NdiGo4bRWo_XW1oqw-SmXQw0QwQP3Gm2H0nmSU8LEQz7Ivu0m53zDXCEwF_DTCvnBYpEZo8JIF8jqP_Jo5Sq_spMw9wYhXA0sapoNUfW7M=w900-no" width="100%" style="margin:0; padding:0; border:none; display:block;" border="0" />
          </td>
        </tr>
        <tr>
          <td data-bgcolor="bg-block" class="holder" style="padding:2em 2em 2em;" bgcolor="#f9f9f9">
            <table cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td data-color="title" data-size="size title" data-min="25" data-max="45" data-link-color="link title color" data-link-style="text-decoration:none; color:#292c34;" class="title" align="center" style="font:35px/38px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;">
                  Hi <%= @user.name.capitalize %>
                </td>
              </tr>
              <tr>
                <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="left" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
                  You recently bought a GGC pass, right 😃 ? <br/>
                  Here is your entrance ticket for the <%= @event.name.capitalize %> event.
                  Don't forget it, it's used for access control at the <%= @event.shortname %>'s entrance gates.
                </td>
              </tr>
              <tr>
                <td>
                  <table cellspacing="0" width="100%" class="row" style="font:18px/20px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;">
                    <% if @registration.user %>
                    <tr>
                      <td>
                        Name:
                      </td>
                      <td>
                        <%= @registration.user.name.capitalize %> <%= @registration.user.lastname.capitalize %>
                      </td>
                      <td class="expander"></td>
                    </tr>
                    <% end %>
                    <tr>
                      <td>
                        Pass:
                      </td>
                      <td>
                        <%= @registration.event_pack.name %>
                      </td>
                      <td class="expander"></td>
                    </tr>
                    <% if @registration.event_resource %>
                    <tr>
                      <td>
                        Tournament:
                      </td>
                      <td>
                        <%= @registration.event_resource.title %>
                      </td>
                      <td class="expander"></td>
                    </tr>
                    <% end %>
                    <% if @registration.users_group %>
                    <tr>
                      <td>
                        Friend's group:
                      </td>
                      <td>
                        <%= @registration.users_group.name.capitalize %>
                      </td>
                      <td class="expander"></td>
                    </tr>
                    <% end %>
                    <% if @registration.team %>
                    <tr>
                      <td>
                        Team:
                      </td>
                      <td>
                        <%= @registration.team.name.capitalize %>
                      </td>
                      <td class="expander"></td>
                    </tr>
                    <% end %>
                  </table>
                </td>
              </tr>
              <tr>
                <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="left" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 1em;">
                </td>
              </tr>
              <tr>
              <style>
              #qrcontainer table {
                border-width: 0;
                border-style: none;
                border-color: #0000ff;
                border-collapse: collapse;
              }

              #qrcontainer td {
                border-left: solid 5px #000;
                padding: 0;
                margin: 0;
                width: 0px;
                height: 5px;
              }

              #qrcontainer td.black { border-color: #000; }
              #qrcontainer td.white { border-color: #fff; }
              </style>
              <td id="qrcontainer" data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="center" style="font:bold 12px/12px Arial, Helvetica, sans-serif; color:#888; padding:0 0 1em;">
                Scan me at <%= @event.shortname %> entrance:</br>
                <img src="<%= @qrcode.as_png(
                    resize_gte_to: false,
                    resize_exactly_to: true,
                    fill: 'white',
                    color: 'black',
                    size: 280,
                    border_modules: 4,
                    module_px_size: 6,
                    file: nil
                    ).to_data_url %>" />
              </td>
            </tr>
            <tr>
              <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="left" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 1em;">
              </td>
            </tr>
            <tr>
              <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="left" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
                Reminder, don't forget 📝:
              </td>
            </tr>
            <tr>
              <td>
                <table cellspacing="0" width="100%" class="row" style="font:17px/19px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;">
                  <% if @registration.user %>
                  <tr>
                    <td>
                      Doors opening:
                    </td>
                    <td>
                      22 September 2017 at 10h00
                    </td>
                    <td class="expander"></td>
                  </tr>
                  <tr>
                    <td>
                      Entrance:
                    </td>
                    <td>
                      Bring this email and an ID card at the <%= @registration.event.shortname %> gates to claim your pass.
                    </td>
                    <td class="expander"></td>
                  </tr>
                  <tr>
                    <td>
                      Access plan & Parking:
                    </td>
                    <td>
                      <%= link_to "plan", "#" %>
                    </td>
                    <td class="expander"></td>
                  </tr>
                  <% if @registration.is_a_player %>
                  <tr>
                    <td>
                      Your tournament begin:
                    </td>
                    <td>
                      <% start_time = @registration.event_resource.start_at - 1.hour %>
                      <%= start_time.strftime("%d %B %Y at %Hh%M") %>
                    </td>
                    <td class="expander"></td>
                  </tr>
                  <% end %>
                  <% if EventPack.where("name like ?", "%pro%").include?(@registration.event_pack) || EventPack.where("name like ?", "%medium%").include?(@registration.event_pack) %>
                  <tr>
                    <td>
                      Include in your pass:
                    </td>
                    <td>
                      Sleeping mattress. Just bring a pillow and a blanket.
                    </td>
                    <td class="expander"></td>
                  </tr>
                  <% elsif EventPack.where("name like ?", "%starter%").include?(@registration.event_pack) %>
                  <tr>
                    <td>
                      Include in your pass:
                    </td>
                    <td>
                      The convention access for sunday.
                    </td>
                    <td class="expander"></td>
                  </tr>
                  <% end %>
                  <% if @registration.is_a_player %>
                  <tr>
                    <td>
                      Take with you:
                    </td>
                    <td>
                      A 10m RJ45 cable and <%= link_to "swiss power cords", "https://en.wikipedia.org/wiki/AC_power_plugs_and_sockets#/media/File:J_plug_-_1.jpg"%> 🇨🇭.
                    </td>
                    <td class="expander"></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>
                      ⛔️ Forbidden inside:
                    </td>
                    <td>
                      Picnic, Alcohol, smoking, overboard and other rolling stuff.
                    </td>
                    <td class="expander"></td>
                  </tr>
                  <% end %>
                </table>
              </td>
            </tr>
            <tr>
              <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="left" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 1em;">
              </td>
            </tr>
            <tr>
              <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="left" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 1em;">
                See you there, GL & HF !
              </td>
            </tr>
            <tr>
              <td height="28">
              </td>
            </tr>
            <tr>
              <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="left" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
                If you have any questions, feel free to contact us at <%= mail_to "contact@ggc.ch" %>.<br/>
                Your GGC team.
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="text-align:center; max-width:800px; margin-bottom:1em; background-color:#e3e3e3;">
        <td style="padding:1em;">
          This mail was sent to <%= @user.mail %><br/>
        </td>
      </tr>
      <tr style="text-align:center; margin-bottom:4em; background-color:#e3e3e3;">
        <td style="padding-bottom:1em;">
          <%= link_to 'https://ggc.ch' do %>
          <%= image_tag "ggc_web_color", height: "32" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <table width="100%" align="center" style="margin:auto;" cellpadding="0" cellspacing="0" bgcolor="#e3e3e3">
          <tr>
            <td></td>
            <td>
              <table align="center" style="margin:auto;" cellpadding="6" cellspacing="0">
                <tr>
                  <td style="padding-bottom:1em;">
                    <%= link_to 'https://www.facebook.com/GenevaGamingConvention' do %>
                    <%= image_tag "fb", height: "32" %>
                    <% end %>
                  </td>
                  <td style="padding-bottom:1em;">
                    <%= link_to 'https://twitter.com/GGConvention' do %>
                    <%= image_tag "tw", height: "32" %>
                    <% end %>
                  </td>
                  <td style="padding-bottom:1em;">
                    <%= link_to 'https://github.com/geneva-gaming-convention' do %>
                    <%= image_tag "gh", height: "32" %>
                    <% end %>
                  </td>
                  <td style="padding-bottom:1em;">
                    <%= link_to 'https://www.youtube.com/channel/UCla9__OdhEjT-Kb0kgHpo-w' do %>
                    <%= image_tag "yt", height: "32" %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
            <td></td>
          </tr>
        </table>
      </tr>
      <tr>
        <td height="28">
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
