<div class="col-md-offset-2">
  <h1>Personals infos</h1>
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
  <% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h5><%= pluralize(@user.errors.count, "error") %> canceled your registration:</h5>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
<div class="container-fluid container-cards-pf">
  <%= render 'form_edit' %>
  <div class="row row-cards-pf">
    <%= render 'address_card' %>
    <%= render 'phone_card' %>
    <%= render 'game_account_card' %>
  </div>
</div>
