<div class="col-md-offset-2">
  <h1>Personals infos</h1>
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
</div>
<div class="container-fluid container-cards-pf">
  <%= render 'form_edit' %>
  <div class="row row-cards-pf">
    <%= render 'address_card' %>
    <%= render 'phone_card' %>
    <%= render 'game_account_card' %>
  </div>
  <div class="row">
    <div class="col-lg-12" style="text-align:center;">
      <%= link_to "Delete my account",user_delete_path(@user.id), :class => "btn btn-danger", :type => "button" %>
    </div>
  </div>
</div>
