<div class="row row-cards-pf">
  <div class="card-pf card-pf-accented">
    <div class="card-pf-title">
      <h1>Register</h1>
    </div>
    <div class="col-md-offset-2">
      <% flash.each do |key, value| %>
      <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
        <p>
          <%= value %>
        </p>
      </div>
      <% end %>
      <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h5><%= pluralize(@user.errors.count, "error") %> canceled your registration:</h5>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="card-pf-body">
      <%= render 'form_new' %>
    </div>
  </div>
</div>
