<% flash.each do |key, value| %>
<div id="error_explanation" class="alert alert-<%=key%>" role="alert">
  <p>
    <%= value %>
  </p>
</div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <% if is_proprietary %>
    <img src="<%= gravatar_image_url(@user.mail.gsub('spam', 'mdeering'), size: 192) %>
    " alt="<%= @user.name %>" class="img-circle" height="96">
    <span style="font-size:28px;display: inline-block;height:96px; margin-left:1em;">Hi <%= @user.name.capitalize %></span>
    <% else %>
    <span style="font-size:28px;"><%= @user.name.capitalize %></span>
    <% end %>
  </div>
</div>

<div class="row" style="margin-top:2em;">
  <% if is_proprietary %>
  <%= render 'account_status' %>
  <% else %>
  <div class="row">
    <div class="col-md-2 col-xs-4">
      <h2>Ready to event</h2>
    </div>
    <div class="col-md-2 col-xs-2">
      <% if @is_account_valid %>
      <h2><span class="glyphicon pficon-ok" aria-hidden="true"></span></h2>
      <% else %>
      <h2><span class="glyphicon pficon-error-circle-o" aria-hidden="true"></span></h2>
      <% end %>
    </div>
    <div class="col-md-2 col-xs-2">
    </div>
  </div>
  <% end %>
  <div class="col-md-8">
  </div>
</div>
