<% flash.each do |key, value| %>
<div id="error_explanation" class="alert alert-<%=key%>" role="alert">
  <p>
    <%= value %>
  </p>
</div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <% if is_proprietary %>
    <img src="<%= gravatar_image_url(@user.mail.gsub('spam', 'mdeering'), size: 192) %>
    " alt="<%= @user.name %>" class="img-circle" height="96">
    <span style="font-size:28px;display: inline-block;height:96px; margin-left:1em;">Hi <%= @user.name.capitalize %></span>
    <% else %>
    <span style="font-size:28px;"><%= @user.name.capitalize %></span>
    <% end %>
  </div>
</div>

<div class="row" style="margin-top:2em;">
  <%= render 'account_status' %>
</div>
