<div class="row row-cards-pf">
  <style>
  .bg-success {
      background-color: #dff0d8 !important;
  }

  .bg-danger {
    background-color: #f2dede !important;
  }
  dt{
    width: 30% !important;
    padding-right: 2em;
  }
  </style>
  <% if @ticket.paid %>
  <div class="card-pf card-pf-accented bg-success">
  <% else %>
  <div class="card-pf card-pf-accented bg-danger">
  <% end %>
    <div class="col-md-offset-2">
      <% flash.each do |key, value| %>
      <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
        <p>
          <%= value %>
        </p>
      </div>
      <% end %>
      <% if @ticket.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h5><%= pluralize(@ticket.errors.count, "error") %> canceled your registration:</h5>
        <ul>
          <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="card-pf-body" style="font-size: 30px;">
      <% if @ticket && @ticket.user %>
      <div class="text-center">
        <% if @ticket.paid %>
        <h1 style="font-size:38px;">Valid <span class="glyphicon pficon-ok" aria-hidden="true"></span></h1>
        <% else %>
        <h1 style="font-size:38px;">Unvalid <span class="glyphicon pficon-error-circle-o" aria-hidden="true"></span></h1>
        <% end %>
      </div>
      <dl class="dl-horizontal" style="margin-left:auto; margin-right:auto;">
        <dt>Name</dt><dd class="text-left"><%= @ticket.user.name.capitalize %> <%= @ticket.user.lastname.upcase %></dd>
        <dt>Pass</dt><dd class="text-left"><%= @ticket.event_pack.name.capitalize %></dd>
        <dt>tournament</dt><dd class="text-left"><%= @ticket.event_resource.title %></dd>
        <% if @ticket.users_group %>
        <dt>Group</dt><dd class="text-left"><%= @ticket.users_group.name.capitalize %></dd>
        <% end %>
        <% if @ticket.team %>
        <dt>Team</dt><dd class="text-left"><%= @ticket.team.name.capitalize %></dd>
        <% end %>
        <dt>Price</dt><dd class="text-left"><%= @ticket.event_pack.price %> CHF</dd>
      </dl>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
