<% flash.each do |key, value| %>
<div id="error_explanation" class="alert alert-<%=key%>" role="alert">
  <p>
    <%= value %>
  </p>
</div>
<% end %>
<% if @event.banner %>
<div class="row">
  <div class="col-md-12">
    <%= image_tag @event.banner %>
  </div>
</div>
<% end %>
<%= render 'breadcrumb' %>
<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @event.name %>
    </h1>
    <p>
      <small>
        <%= @event.description %>
      </small>
    </p>
    <p>
      Join us on:
      <%= link_to @event.chat_url, target: :_blank do %>
      <%= image_tag 'discord', height: 54 %>
      <% end %>
    </p>
  </div>
</div>
<% if @event.are_all_resources_locales %>
  <%= render 'locale_resources' %>
<% else %>
  <%= render 'remote_resources' %>
<% end %>
