<% flash.each do |key, value| %>
<div id="error_explanation" class="alert alert-<%=key%>" role="alert">
  <p>
    <%= value %>
  </p>
</div>
<% end %>
<% if @event.banner %>
<div class="row">
  <div class="col-md-12">
    <%= image_tag @event.banner %>
  </div>
</div>
<% end %>
<%= render 'breadcrumb' %>
<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @event.name %>
    </h1>
    <p>
      <small>
        <%= @event.description %>
      </small>
    </p>
    <p>
      Join us on:
      <%= link_to @event.chat_url, target: :_blank do %>
      <%= image_tag 'discord', height: 54 %>
      <% end %>
    </p>
  </div>
</div>
<script type="text/javascript">
<%= render :partial => "event_resources/display_resources.js" %>
</script>
<div class="row" id="event_resources">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h2 class="card-pf-title">
      Loading content ...
    </h2>
    <div class="card-pf-body">
      <p class="card-pf-aggregate-status-notifications">
        <div class="spinner spinner-lg"></div>
      </p>
    </div>
  </div>
</div>
<%= render 'application/toornament_powered' %>
<script type="text/javascript">
display_resources();
</script>
