<% flash.each do |key, value| %>
<div id="error_explanation" class="alert alert-<%=key%>" role="alert">
  <p>
    <%= value %>
  </p>
</div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @event.name %>
    </h1>
    <p>
      <small>
        <%= @event.description %>
      </small>
    </p>
    <p style="font-size:15px;">You can find here the discord server: <%= link_to @event.chat_url, @event.chat_url, target: :_blank %></p>
  </div>
</div>
<div class="row">
  <% @event.event_resources.each do |resource| %>
  <%= render 'event_resources/show', resource: resource %>
  <% end %>
</div>
