<%= form_for( [:admin, @user],:html => {:class => 'form-horizontal'}) do |f| %>

<% if f.object.errors.any? %>
	<div id="clear"></div>
	<div id="error">
		<p class="title">
			<%= t 'activemodel.errors.messages', count: f.object.errors.count %>
		</p>
		<ul>
			<% f.object.errors.full_messages.each do |msg| %>
			 <li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<div id="clear"></div>
<% end %>

<div class="form-group">
    <%= label_tag 'name', "Firstname", class: 'col-sm-2 col-md-2 control-label' %>
    <div class="col-sm-10 col-md-10">
        <%= f.text_field :name, class: 'form-control'%>
    </div>
</div>
<div class="form-group">
    <%= label_tag 'lastname', "Lastname", class: 'col-sm-2 col-md-2 control-label' %>
    <div class="col-sm-10 col-md-10">
        <%= f.text_field :lastname, class: 'form-control'%>
    </div>
</div>
<div class="form-group">
    <%= label_tag 'mail', "Email", class: 'col-sm-2 col-md-2 control-label' %>
    <div class="col-sm-10 col-md-10">
        <%= f.email_field :mail, class: 'form-control'%>
    </div>
</div>
<div class="form-group">
    <%= label_tag 'password', "Password", class: 'col-sm-2 col-md-2 control-label'  %>
    <div class="col-sm-10 col-md-10">
        <%= f.password_field :password, class: 'form-control'%>
    </div>
</div>
<div class="form-group">
    <%= label_tag 'password', "Password confirmation", class: 'col-sm-2 col-md-2 control-label'  %>
    <div class="col-sm-10 col-md-10">
        <%= f.password_field :password_confirmation, class: 'form-control'%>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit %>
    </div>
</div>
<% end %>
