<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon pficon-add-circle-o"></span>
  </div>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= info %>
  </p>
  <div class="blank-slate-pf-main-action">
    <button class="btn btn-primary btn-lg" data-toggle="<%= toggle ||= '' %>" data-target="<%= target ||= '' %>"> <%= action %> </button>
  </div>
</div>
