<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to root_path do %>
      <span class="fa fa-dashboard" data-toggle="tooltip" title="Dashboard"></span>
      <span class="list-group-item-value">Dashboard</span>
      <% end %>
    </li>
    <% if is_logged_in %>
    <li class="list-group-item">
      <%= link_to user_path(current_logged_user.id) do %>
      <span class="fa pficon-user" data-toggle="tooltip" title="Dashboard"></span>
      <span class="list-group-item-value"><%= current_logged_user.name.capitalize %></span>
      <% end %>
    </li>
    <% end %>
    <li class="list-group-item secondary-nav-item-pf" data-target="#event-secondary">
      <a>
        <span class="glyphicon glyphicon-calendar" data-toggle="tooltip" title="Events"></span>
        <span class="list-group-item-value">Events</span>
      </a>
      <div id="event-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          <span>Events</span>
        </div>
        <ul class="list-group">
          <% Event.all.where(visible: true).each do |event| %>
          <li class="list-group-item">
            <%= link_to event_path(event.id) do %>
            <span class="list-group-item-value"><%= event.shortname %></span>
            <% end %>
          </li>
          <% end %>
          <li class="list-group-item spacer">
          </li>
          <li class="list-group-item">
            <%= link_to events_path do %>
            <span class="list-group-item-value">All events</span>
            <% end %>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item secondary-nav-item-pf" data-target="#groups-secondary">
      <a>
        <span class="fa pficon-project" data-toggle="tooltip" title="Groups & Friends"></span>
        <span class="list-group-item-value">Groups & Friends</span>
      </a>
      <div id="groups-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          <span>Groups & Friends</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <% if is_logged_in %>
            <%= link_to user_users_groups_path(current_logged_user) do %>
            <span class="list-group-item-value">My groups</span>
            <% end %>
            <% else %>
            <%= link_to login_path do %>
            <span class="list-group-item-value">My groups</span>
            <% end %>
            <% end %>
          </li>
          <li class="list-group-item">
            <% if is_logged_in %>
            <%= link_to new_user_users_group_path(current_logged_user) do %>
            <span class="list-group-item-value">Create group</span>
            <% end %>
            <% else %>
            <%= link_to login_path do %>
            <span class="list-group-item-value">Create group</span>
            <% end %>
            <% end %>
          </li>
          <li class="list-group-item">
            <% if is_logged_in %>
            <%= link_to global_groups_list_path do %>
            <span class="list-group-item-value">Join group</span>
            <% end %>
            <% else %>
            <%= link_to login_path do %>
            <span class="list-group-item-value">Join group</span>
            <% end %>
            <% end %>
          </li>
          <li class="list-group-item spacer">
          </li>
          <li class="list-group-item">
            <%= link_to global_groups_list_path do %>
            <span class="list-group-item-value">All friend's groups</span>
            <% end %>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
      <%= link_to faq_path do %>
      <span class="fa pficon-help" data-toggle="tooltip" title="FAQ"></span>
      <span class="list-group-item-value">FAQ</span>
      <% end %>
    </li>
    <li class="list-group-item secondary-nav-item-pf" data-target="#settings-secondary">
      <a>
        <span class="glyphicon glyphicon-cog" data-toggle="tooltip" title="Settings"></span>
        <span class="list-group-item-value">Settings</span>
      </a>
      <div id="settings-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          <span>Settings</span>
        </div>
        <ul class="list-group">
          <% if current_logged_user %>
          <li class="list-group-item">
            <%= link_to edit_user_path(current_logged_user.id) do %>
            <span class="list-group-item-value">Personals infos</span>
            <% end %>
          </li>
          <% end %>
          <li class="list-group-item">
            <a>
              <span data-toggle="modal" data-target="#about-modal" class="list-group-item-value">About</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
      <% if current_logged_user %>
      <%= link_to logout_path, method: :delete do %>
      <span class="glyphicon glyphicon-log-out" data-toggle="tooltip" title="Log out"></span>
      <span class="list-group-item-value">Log out</span>
      <% end %>
      <% else %>
      <%= link_to login_path do %>
      <span class="glyphicon glyphicon-log-in" data-toggle="tooltip" title="Login / Register"></span>
      <span class="list-group-item-value">Login / Register</span>
      <% end %>
      <% end %>
    </li>
  </ul>
</div>
